body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: #FEFEFE;
  padding: 0px;
  margin: 0px;
}

/* Header */
.header {
  display: flex;
  padding: 20px 100px 0px 100px;
  background-color: #82525B;
  color: #FEFEFE;
}

.title {
  margin-top: 10px;
}

.title h1, .title h2 {
  margin: 0px;
  text-align: center;
}

.logo img {
  max-width: 20%;
  max-height: auto;
}

.post-button, .back-button {
  margin-top: 30px;
  margin-left: 80px;
  background-color: #483F4A;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* Footer */
.footer {
  height: 50px;
  padding: 20px 100px 0px 100px;
}

.footer a {
  color: #000;
}

/* Content */
.content {
  padding: 20px 100px 0px 100px;
}

.image h2 {
  font-size: 1.1em;
}

/* Post / Edit */
.heading {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.heading h2 {
  margin: 0px;
  margin-left: 10px;
}

.add, .edit {
  display: flex;
}

.circle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  background: #333;
  color: #fff;
  text-align: center;
}

/* Form */
input, textarea, select, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

.post-body {
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 30px;
}

#post h2, #edit h2 {
  text-align: center;
  font-size: 30px;
}

.form {
  margin-right: 50px;
}

/* Uploaded images */
.upload h2 {
  margin: 0px;
}

.upload img {
  max-width: 300px;
}

/* Suggestions */
.suggestions {
  width: 200px;
  border: 1px solid #ccc;
}

.suggestion {
  min-height: 20px;
}

.suggestion:hover {
  background-color: #5BDEFF;
  color: #fff;
}

/* Masonry */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.image-gallery {
  margin-left: 25%;
  margin-right: 25%;
}

.image {
  margin: 0 0 1.5em;
  display: inline-block;
  width: 100%;
}

.image img {
  width: 100%;
}
